DATABASE_URL=postgresql://user:password@host:5432/db_name
APP_URL=http://localhost:5173
API_USERNAME=admin
API_PASSWORD=admin
API_URL=http://localhost:3000

AUTH_SECRET=supersecretsecret
GOOGLE_CLIENT_ID=dfgdfgdfgerg
GOOGLE_CLIENT_SECRET=3erferfgerge

VITE_API_URL=http://localhost:5173
